/* line 2, ../sass/_icon_style.scss */
.icon {
  transition: all 0.5s ease-in-out;
}

/* line 7, ../sass/_icon_style.scss */
.icon:hover {
  color: #3CBEE8;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* line 3, ../sass/demo.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 4, ../sass/demo.scss */
body {
  background: #ddd;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

/* line 6, ../sass/demo.scss */
.row {
  width: 100%;
  max-width: 980px;
  min-width: 727px;
  margin: 0 auto;
}

/* line 7, ../sass/demo.scss */
.row .row {
  min-width: 0;
}

/* line 8, ../sass/demo.scss */
.column, .columns {
  margin-left: 4.4%;
  float: left;
  min-height: 1px;
  position: relative;
}

/* line 9, ../sass/demo.scss */
.column:first-child, .columns:first-child {
  margin-left: 0;
}

/* line 10, ../sass/demo.scss */
.row .three {
  width: 21.67957%;
}

/* line 11, ../sass/demo.scss */
.row .four {
  width: 25%;
}

/* line 12, ../sass/demo.scss */
.row .twelve {
  width: 100%;
}

/* Nicolas Gallagher's micro clearfix */
/* line 14, ../sass/demo.scss */
.row:before, .row:after, .clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 15, ../sass/demo.scss */
.row:after, .clearfix:after {
  clear: both;
}

/* line 16, ../sass/demo.scss */
.row, .clearfix {
  zoom: 1;
}

/* line 18, ../sass/demo.scss */
.container {
  padding: 40px;
  margin: 0 auto;
  width: 980px;
  background: #fff;
}

/* line 19, ../sass/demo.scss */
h1 {
  margin-bottom: 10px;
  font-size: 40px;
}

/* line 20, ../sass/demo.scss */
h4 {
  margin-bottom: 4px;
}

/* line 21, ../sass/demo.scss */
hr {
  border: solid 1px;
  border-color: #bbb transparent transparent transparent;
}

/* line 22, ../sass/demo.scss */
ul {
  list-style: none;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* line 23, ../sass/demo.scss */
ul li {
  font-size: 28px;
  margin-bottom: 16px;
  vertical-align: center;
}

/* line 25, ../sass/demo.scss */
div.code {
  border: solid 1px #000;
  background: #444;
  border-radius: 3px;
  box-shadow: 0px 2px 10px black inset;
}

/* line 26, ../sass/demo.scss */
div.code pre {
  color: #fff;
  padding: 5px 5px 5px 8px;
}

/* line 27, ../sass/demo.scss */
.class {
  color: #4DB9EE;
}

/* line 28, ../sass/demo.scss */
em {
  color: #aaa;
}

/* line 30, ../sass/demo.scss */
[class*="icon"]:after {
  position: relative;
  top: -8px;
  left: 10px;
  color: #888;
  font-size: 60%;
  font-style: normal;
}

/* General */
/* line 33, ../sass/demo.scss */
.icon.general-settings:after {
  content: "settings";
}

/* line 34, ../sass/demo.scss */
.icon.general-heart:after {
  content: "heart";
}

/* line 35, ../sass/demo.scss */
.icon.general-star:after {
  content: "star";
}

/* line 36, ../sass/demo.scss */
.icon.general-plus:after {
  content: "plus";
}

/* line 37, ../sass/demo.scss */
.icon.general-minus:after {
  content: "minus";
}

/* line 38, ../sass/demo.scss */
.icon.general-checkmark:after {
  content: "checkmark";
}

/* line 39, ../sass/demo.scss */
.icon.general-remove:after {
  content: "remove";
}

/* line 40, ../sass/demo.scss */
.icon.general-mail:after {
  content: "mail";
}

/* line 41, ../sass/demo.scss */
.icon.general-calendar:after {
  content: "calendar";
}

/* line 42, ../sass/demo.scss */
.icon.general-page:after {
  content: "page";
}

/* line 43, ../sass/demo.scss */
.icon.general-tools:after {
  content: "tools";
}

/* line 44, ../sass/demo.scss */
.icon.general-globe:after {
  content: "globe";
}

/* line 45, ../sass/demo.scss */
.icon.general-home:after {
  content: "home";
}

/* line 46, ../sass/demo.scss */
.icon.general-quote:after {
  content: "quote";
}

/* line 47, ../sass/demo.scss */
.icon.general-people:after {
  content: "people";
}

/* line 48, ../sass/demo.scss */
.icon.general-monitor:after {
  content: "monitor";
}

/* line 49, ../sass/demo.scss */
.icon.general-laptop:after {
  content: "laptop";
}

/* line 50, ../sass/demo.scss */
.icon.general-phone:after {
  content: "phone";
}

/* line 51, ../sass/demo.scss */
.icon.general-cloud:after {
  content: "cloud";
}

/* line 52, ../sass/demo.scss */
.icon.general-error:after {
  content: "error";
}

/* line 53, ../sass/demo.scss */
.icon.general-right-arrow:after {
  content: "right-arrow";
}

/* line 54, ../sass/demo.scss */
.icon.general-left-arrow:after {
  content: "left-arrow";
}

/* line 55, ../sass/demo.scss */
.icon.general-up-arrow:after {
  content: "up-arrow";
}

/* line 56, ../sass/demo.scss */
.icon.general-down-arrow:after {
  content: "down-arrow";
}

/* line 57, ../sass/demo.scss */
.icon.general-trash:after {
  content: "trash";
}

/* line 58, ../sass/demo.scss */
.icon.general-add-doc:after {
  content: "add-doc";
}

/* line 59, ../sass/demo.scss */
.icon.general-edit:after {
  content: "edit";
}

/* line 60, ../sass/demo.scss */
.icon.general-lock:after {
  content: "lock";
}

/* line 61, ../sass/demo.scss */
.icon.general-unlock:after {
  content: "unlock";
}

/* line 62, ../sass/demo.scss */
.icon.general-refresh:after {
  content: "refresh";
}

/* line 63, ../sass/demo.scss */
.icon.general-paper-clip:after {
  content: "paper-clip";
}

/* line 64, ../sass/demo.scss */
.icon.general-video:after {
  content: "video";
}

/* line 65, ../sass/demo.scss */
.icon.general-photo:after {
  content: "photo";
}

/* line 66, ../sass/demo.scss */
.icon.general-graph:after {
  content: "graph";
}

/* line 67, ../sass/demo.scss */
.icon.general-idea:after {
  content: "idea";
}

/* line 68, ../sass/demo.scss */
.icon.general-mic:after {
  content: "mic";
}

/* line 69, ../sass/demo.scss */
.icon.general-cart:after {
  content: "cart";
}

/* line 70, ../sass/demo.scss */
.icon.general-address-book:after {
  content: "address-book";
}

/* line 71, ../sass/demo.scss */
.icon.general-compass:after {
  content: "compass";
}

/* line 72, ../sass/demo.scss */
.icon.general-flag:after {
  content: "flag";
}

/* line 73, ../sass/demo.scss */
.icon.general-location:after {
  content: "location";
}

/* line 74, ../sass/demo.scss */
.icon.general-clock:after {
  content: "clock";
}

/* line 75, ../sass/demo.scss */
.icon.general-folder:after {
  content: "folder";
}

/* line 76, ../sass/demo.scss */
.icon.general-inbox:after {
  content: "inbox";
}

/* line 77, ../sass/demo.scss */
.icon.general-website:after {
  content: "website";
}

/* line 78, ../sass/demo.scss */
.icon.general-smiley:after {
  content: "smiley";
}

/* line 79, ../sass/demo.scss */
.icon.general-search:after {
  content: "search";
}

/* General Enclosed */
/* line 82, ../sass/demo.scss */
.icon.general-enclosed-settings:after {
  content: "settings";
}

/* line 83, ../sass/demo.scss */
.icon.general-enclosed-heart:after {
  content: "heart";
}

/* line 84, ../sass/demo.scss */
.icon.general-enclosed-star:after {
  content: "star";
}

/* line 85, ../sass/demo.scss */
.icon.general-enclosed-plus:after {
  content: "plus";
}

/* line 86, ../sass/demo.scss */
.icon.general-enclosed-minus:after {
  content: "minus";
}

/* line 87, ../sass/demo.scss */
.icon.general-enclosed-checkmark:after {
  content: "checkmark";
}

/* line 88, ../sass/demo.scss */
.icon.general-enclosed-remove:after {
  content: "remove";
}

/* line 89, ../sass/demo.scss */
.icon.general-enclosed-mail:after {
  content: "mail";
}

/* line 90, ../sass/demo.scss */
.icon.general-enclosed-calendar:after {
  content: "calendar";
}

/* line 91, ../sass/demo.scss */
.icon.general-enclosed-page:after {
  content: "page";
}

/* line 92, ../sass/demo.scss */
.icon.general-enclosed-tools:after {
  content: "tools";
}

/* line 93, ../sass/demo.scss */
.icon.general-enclosed-globe:after {
  content: "globe";
}

/* line 94, ../sass/demo.scss */
.icon.general-enclosed-home:after {
  content: "home";
}

/* line 95, ../sass/demo.scss */
.icon.general-enclosed-quote:after {
  content: "quote";
}

/* line 96, ../sass/demo.scss */
.icon.general-enclosed-people:after {
  content: "people";
}

/* line 97, ../sass/demo.scss */
.icon.general-enclosed-monitor:after {
  content: "monitor";
}

/* line 98, ../sass/demo.scss */
.icon.general-enclosed-laptop:after {
  content: "laptop";
}

/* line 99, ../sass/demo.scss */
.icon.general-enclosed-phone:after {
  content: "phone";
}

/* line 100, ../sass/demo.scss */
.icon.general-enclosed-cloud:after {
  content: "cloud";
}

/* line 101, ../sass/demo.scss */
.icon.general-enclosed-error:after {
  content: "error";
}

/* line 102, ../sass/demo.scss */
.icon.general-enclosed-right-arrow:after {
  content: "right-arrow";
}

/* line 103, ../sass/demo.scss */
.icon.general-enclosed-left-arrow:after {
  content: "left-arrow";
}

/* line 104, ../sass/demo.scss */
.icon.general-enclosed-up-arrow:after {
  content: "up-arrow";
}

/* line 105, ../sass/demo.scss */
.icon.general-enclosed-down-arrow:after {
  content: "down-arrow";
}

/* line 106, ../sass/demo.scss */
.icon.general-enclosed-trash:after {
  content: "trash";
}

/* line 107, ../sass/demo.scss */
.icon.general-enclosed-add-doc:after {
  content: "add-doc";
}

/* line 108, ../sass/demo.scss */
.icon.general-enclosed-edit:after {
  content: "edit";
}

/* line 109, ../sass/demo.scss */
.icon.general-enclosed-lock:after {
  content: "lock";
}

/* line 110, ../sass/demo.scss */
.icon.general-enclosed-unlock:after {
  content: "unlock";
}

/* line 111, ../sass/demo.scss */
.icon.general-enclosed-refresh:after {
  content: "refresh";
}

/* line 112, ../sass/demo.scss */
.icon.general-enclosed-paper-clip:after {
  content: "paper-clip";
}

/* line 113, ../sass/demo.scss */
.icon.general-enclosed-video:after {
  content: "video";
}

/* line 114, ../sass/demo.scss */
.icon.general-enclosed-photo:after {
  content: "photo";
}

/* line 115, ../sass/demo.scss */
.icon.general-enclosed-graph:after {
  content: "graph";
}

/* line 116, ../sass/demo.scss */
.icon.general-enclosed-idea:after {
  content: "idea";
}

/* line 117, ../sass/demo.scss */
.icon.general-enclosed-mic:after {
  content: "mic";
}

/* line 118, ../sass/demo.scss */
.icon.general-enclosed-cart:after {
  content: "cart";
}

/* line 119, ../sass/demo.scss */
.icon.general-enclosed-address-book:after {
  content: "address-book";
}

/* line 120, ../sass/demo.scss */
.icon.general-enclosed-compass:after {
  content: "compass";
}

/* line 121, ../sass/demo.scss */
.icon.general-enclosed-flag:after {
  content: "flag";
}

/* line 122, ../sass/demo.scss */
.icon.general-enclosed-location:after {
  content: "location";
}

/* line 123, ../sass/demo.scss */
.icon.general-enclosed-clock:after {
  content: "clock";
}

/* line 124, ../sass/demo.scss */
.icon.general-enclosed-folder:after {
  content: "folder";
}

/* line 125, ../sass/demo.scss */
.icon.general-enclosed-inbox:after {
  content: "inbox";
}

/* line 126, ../sass/demo.scss */
.icon.general-enclosed-website:after {
  content: "website";
}

/* line 127, ../sass/demo.scss */
.icon.general-enclosed-smiley:after {
  content: "smiley";
}

/* line 128, ../sass/demo.scss */
.icon.general-enclosed-search:after {
  content: "search";
}

/* Social */
/* line 131, ../sass/demo.scss */
.icon.social-thumb-up:after {
  content: "thumb-up";
}

/* line 132, ../sass/demo.scss */
.icon.social-thumb-down:after {
  content: "thumb-down";
}

/* line 133, ../sass/demo.scss */
.icon.social-rss:after {
  content: "rss";
}

/* line 134, ../sass/demo.scss */
.icon.social-facebook:after {
  content: "facebook";
}

/* line 135, ../sass/demo.scss */
.icon.social-twitter:after {
  content: "twitter";
}

/* line 136, ../sass/demo.scss */
.icon.social-pinterest:after {
  content: "pinterest";
}

/* line 137, ../sass/demo.scss */
.icon.social-github:after {
  content: "github";
}

/* line 138, ../sass/demo.scss */
.icon.social-path:after {
  content: "path";
}

/* line 139, ../sass/demo.scss */
.icon.social-linkedin:after {
  content: "linkedin";
}

/* line 140, ../sass/demo.scss */
.icon.social-dribbble:after {
  content: "dribbble";
}

/* line 141, ../sass/demo.scss */
.icon.social-stumble-upon:after {
  content: "stumble-upon";
}

/* line 142, ../sass/demo.scss */
.icon.social-behance:after {
  content: "behance";
}

/* line 143, ../sass/demo.scss */
.icon.social-reddit:after {
  content: "reddit";
}

/* line 144, ../sass/demo.scss */
.icon.social-google-plus:after {
  content: "google-plus";
}

/* line 145, ../sass/demo.scss */
.icon.social-youtube:after {
  content: "youtube";
}

/* line 146, ../sass/demo.scss */
.icon.social-vimeo:after {
  content: "vimeo";
}

/* line 147, ../sass/demo.scss */
.icon.social-flickr:after {
  content: "flickr";
}

/* line 148, ../sass/demo.scss */
.icon.social-slideshare:after {
  content: "slideshare";
}

/* line 149, ../sass/demo.scss */
.icon.social-picassa:after {
  content: "picassa";
}

/* line 150, ../sass/demo.scss */
.icon.social-skype:after {
  content: "skype";
}

/* line 151, ../sass/demo.scss */
.icon.social-steam:after {
  content: "steam";
}

/* line 152, ../sass/demo.scss */
.icon.social-instagram:after {
  content: "instagram";
}

/* line 153, ../sass/demo.scss */
.icon.social-foursquare:after {
  content: "foursquare";
}

/* line 154, ../sass/demo.scss */
.icon.social-delicious:after {
  content: "delicious";
}

/* line 155, ../sass/demo.scss */
.icon.social-chat:after {
  content: "chat";
}

/* line 156, ../sass/demo.scss */
.icon.social-torso:after {
  content: "torso";
}

/* line 157, ../sass/demo.scss */
.icon.social-tumblr:after {
  content: "tumblr";
}

/* line 158, ../sass/demo.scss */
.icon.social-video-chat:after {
  content: "video-chat";
}

/* line 159, ../sass/demo.scss */
.icon.social-digg:after {
  content: "digg";
}

/* line 160, ../sass/demo.scss */
.icon.social-wordpress:after {
  content: "wordpress";
}

/* Acessibility */
/* line 163, ../sass/demo.scss */
.icon.accessibility-wheelchair:after {
  content: "wheelchair";
}

/* line 164, ../sass/demo.scss */
.icon.accessibility-speaker:after {
  content: "speaker";
}

/* line 165, ../sass/demo.scss */
.icon.accessibility-fontsize:after {
  content: "fontsize";
}

/* line 166, ../sass/demo.scss */
.icon.accessibility-eject:after {
  content: "eject";
}

/* line 167, ../sass/demo.scss */
.icon.accessibility-view-mode:after {
  content: "view-mode";
}

/* line 168, ../sass/demo.scss */
.icon.accessibility-eyeball:after {
  content: "eyeball";
}

/* line 169, ../sass/demo.scss */
.icon.accessibility-asl:after {
  content: "asl";
}

/* line 170, ../sass/demo.scss */
.icon.accessibility-person:after {
  content: "person";
}

/* line 171, ../sass/demo.scss */
.icon.accessibility-question:after {
  content: "question";
}

/* line 172, ../sass/demo.scss */
.icon.accessibility-adult:after {
  content: "adult";
}

/* line 173, ../sass/demo.scss */
.icon.accessibility-child:after {
  content: "child";
}

/* line 174, ../sass/demo.scss */
.icon.accessibility-glasses:after {
  content: "glasses";
}

/* line 175, ../sass/demo.scss */
.icon.accessibility-cc:after {
  content: "cc";
}

/* line 176, ../sass/demo.scss */
.icon.accessibility-blind:after {
  content: "blind";
}

/* line 177, ../sass/demo.scss */
.icon.accessibility-braille:after {
  content: "Braille";
}

/* line 178, ../sass/demo.scss */
.icon.accessibility-iphone-home:after {
  content: "iphone-home";
}

/* line 179, ../sass/demo.scss */
.icon.accessibility-w3c:after {
  content: "w3c";
}

/* line 180, ../sass/demo.scss */
.icon.accessibility-css:after {
  content: "css";
}

/* line 181, ../sass/demo.scss */
.icon.accessibility-key:after {
  content: "key";
}

/* line 182, ../sass/demo.scss */
.icon.accessibility-hearing-impaired:after {
  content: "hearing-impaired";
}

/* line 183, ../sass/demo.scss */
.icon.accessibility-male:after {
  content: "male";
}

/* line 184, ../sass/demo.scss */
.icon.accessibility-female:after {
  content: "female";
}

/* line 185, ../sass/demo.scss */
.icon.accessibility-network:after {
  content: "network";
}

/* line 186, ../sass/demo.scss */
.icon.accessibility-guidedog:after {
  content: "guidedog";
}

/* line 187, ../sass/demo.scss */
.icon.accessibility-universal-access:after {
  content: "universal-access";
}

/* line 188, ../sass/demo.scss */
.icon.accessibility-elevator:after {
  content: "elevator";
}
